			/*Tag*/
			body{
				background-color: whitesmoke;
			}
			a{
				color: black;
				text-decoration: none;
				font-weight: bold;
				font-family: 'Brush Script MT', cursive;
				font-size: 1.5em;
			}
			/*Id*/
			#Corpo{
				background-image: url('capa.png');
				background-repeat: no-repeat;
				background-attachment: scroll;
				background-position: center center;
				background-size: 100% 100%;
				border-color: white;
				border-width: 2px 2px 0px 2px;
				border-style: outset;
				width: 100%;
				height: 550px;
			}
			#CampoMenu{
				width: 100%;
				height: 100px;
				border-color: black;
				border-width: 0px 2px 4px 2px;
				border-color: white;
				border-style: outset;
				text-align: center;
				font-size: 35px;
				background-color: whitesmoke;
			}
			#Descricao{
				width: 100%;
				height: 800px;
				text-align: left;
				font-size: 25px;
				color: black;
			}
			#EscopoTexto{
				width: 100%;
				border-color: white;
				border-width: 2px 2px 0px 2px;
				border-style: dashed;
			}
			#Direitos{
				text-align: center;
				border-color: white;
				border-style: outset;
				border-width: 2px 2px 2px 2px;
			}
			/*Classes*/
			.Menu{
				color: black;
				font-weight: bold;
				font-size: 50px;
			}
			.Titulo{
				font-family: 'Brush Script MT', cursive;
				font-style: bold;
				font-size: 2em;
				padding-left: 10px;
			}
			.Texto{
				font-style: bold;
				font-size: 1.4em;
				font-family: 'Brush Script MT', cursive;
				padding-left: 25px;
			}
			.imagem{
				width: 350px;
				height: 350px;
				margin-left: 50px;
				border-color: white;
				border-style: outset;
				border-width: 3px 3px 3px 3px;
			}
			.Espacamento{
				padding-left: 100px;
			}